@keyframes jt-animation-skeleton {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.jt-skeleton {
  animation: 1.5s jt-animation-skeleton infinite ease-in-out;
}
