.fc-collapse {
  &__label {
    &--open {
    }
  }

  &__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .5s ease, max-height .5s ease;
    border-bottom: 1px solid black;
    &--open {
      opacity: 1;
      max-height: 300px;
    }
  }
}
